h1 {
  text-align: center;
  display: inline;
  margin: 0 1em;
  color:blueviolet
}
ul {
  list-style:none;
  text-align: center;
  }
  li {
  display: inline;
  margin: 0 1em;
  }
p {
  text-align: center;
}